.container {
  background-color: #ffffff;
  padding: 5px;
  border-radius: 8px;  
  height:100% <!--297mm-->;
  width:210mm;
}

h1 {
  font-size: 25px;
  font-weight: bold;
}

h2 {
  color: #909399;
  font-size: 18px;
  font-weight: bold;
  padding: 8px;
}
  
.image{
  width: 50%;
  float: left;
}

.text{
  padding-top: 0px;
  width: 50%;
  float: right;
  text-align: right;
}

img{
  height: 33%;
  width: 33%;
}

.line{
  width: 100%;
}

hr{
  border: 1px solid;
}

.content-left{
  width: 50%;
  float: left;
}

.content-right{
  width: 45%;
  float: right;
}

.disclaimer{
  width: 100%;
  float: left;
}

table, th, td{
  border: 3px solid black;
  border-collapse: collapse;
}
  
table{
  width: 100%;
}

th{
  background-color: #669a0f;
  color: white;
  font-weight: normal;
}

td{
  vertical-align: top;
}